<!DOCTYPE html>
<html lang="en" class="light">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- My meta tags -->
        <meta name="author" content="Denislav Gavrilov">

        <!--Twitter Meta-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@denctl">
        <meta name="twitter:image:alt" content="Asciiden card image">

        <link rel="icon" href="./assets/img/logo/new_logo/logo.png" alt="Logo
            Image" type="image/svg" />

        <script src="https://kit.fontawesome.com/962e4108cf.js"
            crossorigin="anonymous"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Roboto'
            rel='stylesheet'>
        <link rel="stylesheet" href="./assets/css/base.css">
        <link rel="stylesheet" href="./assets/css/carousell.css">
        <link rel="stylesheet" href="./assets/css/menu.css">

    </head>
    <body class="bg-light" data-bs-spy="scroll" data-bs-target="#list-example"
        data-bs-offset="50" tabindex="0" style="position: relative;">

            <h5>Comming Soon!</h5>
    </body>
</html>