<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- My meta tags -->
    <meta name="author" content="Denislav Gavrilov">

    <!--Twitter Meta-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@denctl">
    <meta name="twitter:image:alt" content="Asciiden card image">

    <link rel="icon" href="./assets/img/logo/new_logo/logo.png" alt="Logo Image" type="image/svg"/>

    <script src="https://kit.fontawesome.com/962e4108cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/carousell.css">
    <link rel="stylesheet" href="./assets/css/menu.css">

</head>
<body class="bg-light" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="50" tabindex="0" style="position: relative;">

<div class="container-ownNav hideMobile">
  <div class="navigation-ownNav bg-secondary-light border-light" style="border-right: 1px solid #000; border-radius: 0px;">
    <div class="menu-toggle-ownNav"></div>
    <ul class="menu-ownNav h-100">
      <li class="mt-2">
        <a href="/">
          <span class="fa fa-home icon-ownNav" style="font-size: 24px;">
            <ion-icon name="person-outline-ownNav"></ion-icon>
          </span>
          <span class="text-ownNav">Home</span>
        </a>
      </li>
      <li>
        <a href="/blog.html">
        <span class="fa fa-book icon-ownNav" style="font-size: 24px;">
            <ion-icon name="archive-outline-ownNav"></ion-icon>
          </span>
          <span class="text-ownNav">Blog</span>
        </a>
      </li>
      <li>
        <a href="/projects.html">
          <span class="fa fa-list-check icon-ownNav" style="font-size: 24px;">
            <ion-icon name="cog-outline-ownNav"></ion-icon>
          </span>
          <span class="text-ownNav">Projects</span>
        </a>
      </li>
      <li>
        <a href="/bookmarks.html">
          <span class="fa fa-bookmark icon-ownNav" style="font-size: 24px;">
            <ion-icon name="archive-outline-ownNav"></ion-icon>
          </span>
          <span class="text-ownNav">Bookmarks</span>
        </a>
      </li>
      <li>
        <a href="/contact.html">
          <span class="fa fa-dna icon-ownNav " style="font-size: 24px;">
            <ion-icon name="log-out-outline-ownNav"></ion-icon>
          </span>
          <span class="text-ownNav">Contact</span>
        </a>
      </li>
      <hr>
      <li>
        <a href="https://www.digitalocean.com/community/pages/digitalocean-navigators">
          <span class="icon-ownNav bg-light border-light" style="font-size: 24px; border: 1px solid #001858; border-radius: 5px;"">
            <img src="./assets/img/navigator-logo.svg" style="width: 40px;" alt="">
          </span>
          <span class="text-ownNav">DO Navigators</span>
        </a>
      </li>
      <li style="position: absolute; bottom: 0px;">
        <a href="/">
          <span class="icon-ownNav bg-light border-light" style="font-size: 24px; border: 1px solid #001858; border-radius: 5px;">
            <img src="./assets/img/logo/new_logo/logo.png" style="width: 55px;" alt="">
          </span>
          <span class="text-ownNav pe-4">ASCIIDEN</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-light light-blue lighten-4 hideDesktop" style="border-bottom: 2px solid gray; background: white;">
  <!-- Navbar brand -->
  <a class="btn btn-shadow ms-3" href="/" style="font-weight: 700;">root@asciiden: /home#</a>
  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="collapseExample">
    <!-- Links -->
    <ul class="navbar-nav mr-auto ps-0">
      <li class="nav-item active">
        <a class="nav-link ps-4 pt-4" href="/">/home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link ps-4" href="/blog.html">/blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ps-4" href="/projects.html">/projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ps-4" href="/bookmarks.html">/bookmarks</a>
      </li>
      <li class="nav-item">
      <a class="nav-link ps-4" href="/contact.html">/hire-me</a>
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>

    <div class="container h-100">
        
        




        <div class="row darkModeText" id="requestTopic">
            <div class="col-md-10 m-auto text-center">
            <div class="about-content jumbotron rounded-lg p-2 pt-5 darkModeDiv darkModeBorder" style="border: 1px solid var(--border-color); border-radius: 5px;">
                <h1 class="btn btn-shadow mb-4" style="font-weight: 900;">REQUEST A TOPIC</h1>
                <p>You can use this form to request a topic which I will explore, and write a post on!</p>
                  
                <form action="">
                    <input type="name" class="w-75" placeholder="Name: ">
                    <input type="name" class="w-75 mt-3 mb-3" placeholder="Email Address: ">
                    <textarea name="" id="" cols="30" rows="10" class="w-75" placeholder="Hello, I would like to know more about ..."></textarea>
                    <div class="form-group">
                        <button class="btn w-75 m-auto darkModeA" style="background-color: black; border: 5px solid black; color: white; font-weight: 700;">Send request</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row darkModeText mt-5">
            <div class="col-md-10 m-auto text-center">
            <div class="about-content jumbotron rounded-lg darkModeDiv darkModeBorder" style="border: 1px solid var(--border-color); border-radius: 5px;">
              <div class="row text-center mb-2">
                    <div class="col">
                    <a href="https://dev.to/asciiden" style="font-size: 50px;" class="fab fa-dev"></a>
                    <a href="https://t.me/+WzJ3IXQFp-sxZWI0" style="font-size: 50px;" class="fab px-3 fa-telegram"></a>
                    <a href="https://twitter.com/asciiden" style="font-size: 50px;" class="fab fa-twitter"></a>
                    <a href="https://discord.gg/gSmqdEsP" style="font-size: 50px;" class="fab px-3 fa-discord"></a>
                    <a href="mailto:dennis@asciiden.com" style="font-size: 50px;" class="fa fa-at"></a>
                    </div>
                </div>
              </div>
            </div>
          </div>







    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="./assets/js/index.js"></script>
</body>
</html>