@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.container-ownNav {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
  height: 100vh;
}

.navigation-ownNav {
  width: 80px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
  overflow: hidden;
  height: 100vh;
}

.navigation-ownNav.active {
  width: 330px;
}

.navigation-ownNav .menu-toggle-ownNav {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navigation-ownNav .menu-toggle-ownNav::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background: #333;
  transform: translateY(-10px);
  transition: 0.2s;
}

.navigation-ownNav.active .menu-toggle-ownNav::before {
  transform: translateY(0) rotate(45deg);
}

.navigation-ownNav .menu-toggle-ownNav::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background: #333;
  transform: translateY(10px);
  transition: 0.2s;
  box-shadow: 0 -10px #333;
}

.navigation-ownNav.active .menu-toggle-ownNav::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: none;
}

.navigation-ownNav .profile-ownNav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}

.navigation-ownNav .profile-ownNav .image-box-ownNav img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navigation-ownNav .menu-ownNav {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0 10px;
  transition: 0.2s;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navigation-ownNav .menu-ownNav li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.navigation-ownNav .menu-ownNav li a:hover {
  background: #808ab4;
  color: #fff;
  border-radius: 10px;
}

.navigation-ownNav .menu-ownNav li a .icon-ownNav {
  position: relative;
  min-width: 60px;
  height: 60px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-ownNav .menu-ownNav li a .text-ownNav {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
